page-loading {
    ion-content {
        background-color: pink!important;
        h1{
            padding:100px;
        }
        ion-spinner {
            padding-left:250px;
        }
    }
    
}
